<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="log.path" value="./target/logs"/>
    <property name="server.name" value="job"/>

    <!-- 设置日志格式，包含日期、线程、日志级别、类名、方法名、文件和行号 -->
    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%method(%file:%line) - %msg%n"/>
    <property name="log.file" value="${log.path}/${server.name}.%d{yyyy-MM-dd}.log"/>

    <!-- 控制台标准输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <!-- GUI文本区域输出 -->
    <appender name="TEXT_AREA" class="boss.fxml.TextAreaAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <!-- 文件输出 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.file}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 设置日志级别和输出目标 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="TEXT_AREA" />
        <appender-ref ref="FILE"/>
    </root>
</configuration>
